@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@700&family=Bree+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
}
#body1{
    background-image: url("../Image/bg1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 20px;
}
/* NAVIGATION BAR */
#bar
{
    position: sticky;
    display: flex;
    align-items: center;
}
#bar img{
    height: 10vh;
    width: 5vw;
    margin-left: 20px;
    margin-right: 5px;
}
#bar ul{
    display: flex;
}
#bar ul li{
    list-style: none;
}
#bar ul li a{
    padding: 0px 20px;
    font-size: 1.1rem;
    color: azure;
    font-family: 'Baloo Bhai 2', cursive;
}
#bar ul li a:hover{
    background-color: whitesmoke;
    padding: 0px 20px;
    font-size: 1.1rem;
    color: black;
    border-radius: 20px;
    font-family: 'Baloo Bhai 2', cursive;
}
/* HOME SECTION  */
#home{
    height: 240px;
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
    align-items: center;
    justify-content: center;
}
#home h1{
    font-size: 2.5rem;
    padding: 10px;
    color: wheat;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    font-size: 1rem;
    font-family: 'Bree Serif', serif;
}
.btn{
    background-color: rgb(187, 186, 186);
    color: white;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
}
/* SERVICES SECTION */
#ser{
    text-align: center;
}
#ser h1{
    font-size: 2.5rem;
    padding: 10px;
    color: wheat;
    font-family: 'Bree Serif', serif;
}
#servicebox{
    display: flex;
    flex-wrap: wrap;
}
.box{
    height: 440px;
    width: 330px;
    display: inline-block;
    background-color: white;
    padding: 0px 18px;
    margin: 0px 60px;
    border: 2px solid gray;
    border-radius: 25px;
    cursor: pointer;
}
.box img{
    height: 300px;
    width: 315px;
}
.box h2{
    font-size: 1.5rem;
    padding: 10px;
    color: rgb(245, 164, 13);
    font-family: 'Bree Serif', serif;
}
.box p{
    color:yellowgreen;
    font-size: 1rem;
    font-family: 'Bree Serif', serif;
}
/* CLIENT SECTION */
.body2{
    text-align: center;
}
.body2 h1{
    font-size: 2.5rem;
    padding: 10px;
    color: rgb(250, 165, 7);
    font-family: 'Bree Serif', serif;
}
.body2 img{
    height: 180px;
    width: 220px;
}
.clientbox{
    display: flex;
    padding: 0px 90px;
    flex-wrap: wrap;
}
/* CONTACT SECTION */
.body3{
    background-image: url("../Image/bg2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-bottom: 30px;
}
.body3 h1{
    font-size: 2.5rem;
    padding: 10px;
    color: black;
    font-family: 'Bree Serif', serif;
}
.frm input{
    height: 5vh;
    width: 40vw;
    margin: 20px;
    border: 1.5px solid black;
    border-radius: 7px;
    font-family: 'Bree Serif', serif;
    background-color: rgb(7, 247, 247);
    outline: none;
}
.frm label{
    color: rgb(44, 39, 39);
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
.frm textarea{
    height: 30vh;
    width: 45vw;
    border: 1.5px solid black;
    border-radius: 7px;
    background-color: rgb(7, 247, 247);
    outline: none;
}
.frmbtn{
    height: 30px;
    width: 65px;
    font-family: 'Bree Serif', serif;
    background-color: aqua;
    border: 1.5px solid black;
    border-radius: 3px;
    cursor: pointer;
}
/* FOOTEER SECTION */
.foot{
    background-color: gray;
    color: rgb(245, 239, 239);
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', cursive;
    padding: 20px 0px;
    text-align: center;
}
